*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}
body{
    background-color: hsl(180, 10%, 97%);
}


.title-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(31, 47, 77);
    padding: 50px;
    letter-spacing: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.title-container::after{
    content: '';
    position: absolute;
    width: 70px;
    bottom: 30px;
    border-bottom: 4px solid rgb(0, 174, 255);
}

.card-container{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 65%;
    height: 420px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10%;
    box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.07);
    transition: 0.5s;
    padding: 30px;
}
.card-container:hover{
    box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.12);
}
.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-background{
    background: rgb(0, 174, 255);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    z-index: 2;
    margin-left: 15px;
    margin-bottom: 10px;
    position: absolute;
}
#img{
    background-image: url(/Reviews/images/theboss.jpg);
    background-size: cover;
    background-position: center;
    z-index: 5000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#name{
    color: rgb(31, 47, 77);
    letter-spacing: 3px;
    font-weight: bolder;

}
#job{
    color: rgb(0, 174, 255);
}
#review{
    padding: 10px 0 10px 0;
    color: hsl(180, 10%, 49%);

}
.button-container{
}
#surprise{
    border-radius: 7px;
    padding: 3px 8px;
    border: 2px solid rgb(0, 174, 255);
    color: rgb(0, 174, 255);
    background-color: rgb(222, 245, 255);
    transition: 0.5s;
}
#surprise:hover{
    color: black;
    background-color: rgb(0, 174, 255);
    border-bottom: 2px solid rgb(0, 125, 184);
    border-right: 2px solid rgb(0, 125, 184);
}